TEMPLATE_DIR=$(pwd)"/templates/"
WWW="www"
APACHE_WEB_DIR="/var/www/"
APACHE_LOG_DIR="/var/log/apache2/"
APACHEGRP="www-data"
APACHE_WEB_USR="$APACHEGRP:$APACHEGRP"
APACHE_LOG_USR="root:root"
FTP_USR=""
MYSQL_USR=""
MYSQL_PWD=""
MYSQL_DB=""
MYSQL_ADMINISTRATOR_USR="root" #You Must specify here your mysql admin account (db & user create)                                               
MYSQL_ADMINISTRATOR_PWD=""
FTP_GRP="ftpusers"
PWD_LENGHT=8
VHOST_CONF=""
WP_ADMIN_EMAIL=""
MAIN_HOST=""
DEFAULT_SITE=""
CMS="prestashop"
CMS_VERSION="LASTVERSION"
PRESTASHOP_LASTVERSION="1.5.6.1"
WORDPRESS_LASTVERSION="latest"
SF2_LASTVERSION="2.3.5"
SEAFILE_LASTVERSION='2.0.4'
OWNCLOUD_LASTVERSION="6.0.0a"
TPL_FILE="vhost.tpl"
SUB_DOMAIN=""
CONFIG_DIR=$(pwd)"/myhostconf"
LOG_DIR=$(pwd)"/log"
LOG_TYPE="echo"
SHELL_INIT="~/.bashrc"